language: python
cache: pip
python:
- 3.7.8
- '3.8'
- '3.9'
env:
  global:
  - PYTHONPATH=.
install:
- cp packaging/setup.py .
- pip install .
- pip install coverage
- pip install coveralls
- pip install -r tests/requirements.txt
script:
- coverage run --omit="tests/*,examples/*" -m unittest discover tests
after_success:
- coveralls
jobs:
  include:
  - name: Python 3.10
    dist: jammy
    python: '3.10'
    before_install:
    - pip install wheel==0.37.1
    - pip install setuptools==45.2.0
